<%@teams.each do |t|%>
	<p>
	  <strong>Team:</strong>
	  <%= t.name %>
	</p>
  <%if t.users.first.present?%>
    <%t.users.each do |u|%>
	  <p>
	  <strong>Member:</strong>
	  <%= u.email %>
	</p>
   <%end%>
  <%end%>
<%end%>

<p>
<%= link_to 'Back', teams_path %>
</p>
