<h1>Editing Milestone</h1>

<%= form_with(model: [ @project, @task, @milestone ], local: true) do |form| %>
  

  <div class="field">
    <%= form.label :Add_Milestone %>
    <%= form.text_field :name, id: :milestone_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

