<%= form_with(model: [ @project, @project.tasks.build ], local: true) do |form| %>

  <div class="field">
    <%= form.label :Add_task %>
    <%= form.text_field :name, id: :task_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
